<div class="container">
    <h1>Editar producto</h1>
    <form [formGroup]="productosForm" (submit)="onSubmit()">
        <div class="mb-3">
            <label class="form-label">Titulo</label>
            <input type="text" class="form-control" formControlName="title">
            @if(productosForm.get("title")?.hasError("required") && productosForm.get("title")?.touched){
            <div class="alert alert-danger mt-3">El titulo es requerido</div>
            }
        </div>
        <div class="mb-3">
            <label for="txtPrecio" class="form-label">Precio</label>
            <input type="number" formControlName="price" class="form-control" id="txtPrecio">
            @if(productosForm.get("price")?.hasError("required") && productosForm.get("price")?.touched){
            <div class="alert alert-danger mt-3">El precio es requerido</div>
            }
            @else if (productosForm.get("price")?.hasError("max"))
            {
            <div class="alert alert-danger mt-3">El precio no puede ser mayor a 100000</div>
            }
            @else if(productosForm.get("price")?.hasError("min"))
            {
            <div class="alert alert-danger mt-3">El precio no puede ser menor a 1</div>
            }

        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!productosForm.valid">Submit</button>
        <a routerLink="/lista" routerLinkActive="router-link-active" class="btn btn-danger ms-4">Cancelar</a>
    </form>
</div>