<div class="container">
    <h1>Agregar producto</h1>
    <form [formGroup]="productosForm" (ngSubmit)="agregarProducto()">
        <div class="mb-3">
            <label for="txtTitulo" class="form-label">Titulo</label>
            <input type="text" class="form-control" id="txtTitulo" formControlName="title" aria-describedby="emailHelp"
                required>
        </div>
        <div class="mb-3">
            <label for="txtDescripcion" class="form-label">Descripción</label>
            <input type="text" class="form-control" formControlName="description" id="txtDescripcion" required>
        </div>
        <div class="mb-3">
            <label for="txtPrecio" class="form-label">Precio</label>
            <input type="number" class="form-control" id="txtPrecio" formControlName="price" required>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!productosForm.valid">Submit</button>
        <a routerLink="/lista" routerLinkActive="router-link-active" class="btn btn-danger ms-4">Cancelar</a>
    </form>
</div>