ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

h1 {
    font-size: 3rem;
    text-align: center;
    padding: 20px 0;
    letter-spacing: 10px;
}